<link href="/css/bootstrap.css" rel="stylesheet"></link>
<style>{%include "base.css"%}</style>
<script src="/js/jquery-3.3.1.js"></script>
<script src="/js/bootstrap.js"></script>
<script>{%include "js/vue.js"%}</script>
<script>{%include "js/config.js"%}</script>
<script>{%include "js/base.js"%}</script>
<script>{%include "js/request.js"%}</script>
<script>{%include "js/render.js"%}</script>
<script>{%include "js/system.js"%}</script>
<script>{%include "js/parseLocation.js"%}</script>
<script>{%include "js/page_control.js"%}</script>
<script>{%include "js/ready.js"%}</script>